@using WeldingExpert.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<table>
  <tr>   
    <td valign="top">
      <ul id="option">
        <li>@Html.ActionLink("当前用户", "Index")</li>
      @{
        var usrrole = HttpContext.Current.Session["usr-role"];
        if (usrrole != null)
        {
          UserRole role = (UserRole)(int)usrrole;
          if (role == UserRole.管理员)
          {
            <li>@Html.ActionLink("所有用户", "All")</li>
            <li>@Html.ActionLink("创建新用户", "Create")</li>
          }
        }
      }
      </ul>
    </td>  
    <td valign="top">
      <div>
        @RenderBody()
      </div>
    </td>  
  </tr>
</table>