@model IEnumerable<WeldingExpertSystem.Models.User>
@using WeldingExpertSystem.Common;         
@using WeldingExpertSystem.Models  
@{
  Layout = "~/Views/User/_Layout.cshtml";
}
<table>
    <tr>
        <th>
            用户名
        </th>
        <th>
            用户角色
        </th>
        <th>
            真实姓名
        </th>
        <th>
            工号
        </th>
        <th></th>
    </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
          @Html.DisplayFor(modelItem => item.UserName)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Role.ToEnumClass<UserRole>().Name)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.RealName)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.WorkerID)
      </td>
      <td>
          @Html.ActionLink("删除", "Delete", new { usrname = item.UserName })
      </td>
  </tr>
  }
</table>