@model IEnumerable<WeldingExpert.Models.ParentMetalClass>
@using WeldingExpert.Common;           
@{
  Layout = "~/Views/ParentMetal/_Layout.cshtml";
}
<table>
    <tr>
        <th>
            牌号
        </th>
        <th>
            类别
        </th>
        <th>
            组别
        </th>
        <th>
            标准
        </th>
        <th></th>
    </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
          @Html.DisplayFor(modelItem => item.Grade)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Type)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Group)
      </td>
      <td>
      @{
          bool first = true;
          foreach (var std in item.Standards ?? new List<WeldingExpert.Models.Standard>())
          {
            if (!first)
            {
              @(", " + std.Code);
            }
            else
            {
              @std.Code;
              first = false;
            }
          }
        }
      </td>
      <td>
          @Html.ActionLink("删除", "Delete", new { id = item.ID })
      </td>
  </tr>
  }
</table>